.formulario{
    display: flex;
    justify-content: center;  
    font-family: 'Inconsolata', monospace;;
}
.titulo-contacto{
    font-family: 'Bungee';
    font-weight: bolder;
    text-align: center;
}