ul{
    width: 100%;
    list-style: none;
}
.conter-menu{
    background-color: #F14100 !important;
    display: flex;
    justify-content: center;
    .menu{
        display: grid;
        grid-column: auto auto;
        grid-template-rows: auto;
        display: flex;
        justify-content: center;
        empty-cells: inherit;
        li{
            float: left;
            text-align:center;
            a{
                background-color: #F14100;
                color: white !important;
                padding: 10px;
                display: inline-block; 
                text-decoration: none;
                min-width: 100px;
                font-family: 'Comic Neue', cursive; 
                :hover{
                    color: black;
                    background-color: #eaeaea;
                }
                }
            }
        }
    }
.nav-icon {
    font-size: 1.5rem;
}

.cart-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    background: #ffffff;;
    padding: 0 5px;
    border-radius: 30%;
    color: #000000;
}